@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

.img-border {
	margin: .5em;
	padding: 1em;
	transition: 0.5s;
	background-size: 200% auto;
	box-shadow: 0 0 50px #eee;
	border-radius: 10px;
	background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);

	&:hover {
		background-position: right center;
	}
}

.fav-button {
	color: #494949;
	text-transform: uppercase;
	text-decoration: none;
	background: #ffffff;
	padding: 1em;
	border: .6em solid #494949;
	display: block;
	margin: .9em auto;
	transition: all 0.4s ease 0s;
	&:hover {
		color: #ffffff;
		background: #f6b93b;
		border-color: #f6b93b;
		transition: all 0.4s ease 0s;
	}
}
